@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

@theme{
    --font-bodoni: 'Bodoni Moda', serif;
    --font-playwrite: 'Playwrite IN', sans-serif;
    --font-ergaramond : 'EB Garamond', serif;
}

.default-html {
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .default-html h1,
  .default-html h2,
  .default-html h3,
  .default-html h4,
  .default-html h5,
  .default-html h6 {
    font-weight: bold;
    color: #222;
    margin: 1rem 0;
  }
  
  .default-html h1 {
    font-size: 2.5rem;
  }
  
  .default-html h2 {
    font-size: 2rem;
  }
  
  .default-html h3 {
    font-size: 1.75rem;
  }
  
  .default-html h4 {
    font-size: 1.5rem;
  }
  
  .default-html h5 {
    font-size: 1.25rem;
  }
  
  .default-html h6 {
    font-size: 1rem;
  }
  
  .default-html p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  
  .default-html ul,
  .default-html ol {
    margin: 1rem 0;
    padding-left: 2rem;
  }
  
  .default-html ul li,
  .default-html ol li {
    margin-bottom: 0.5rem;
  }
  
  .default-html a {
    color: #007bff;
    text-decoration: none;
  }
  
  .default-html a:hover {
    text-decoration: underline;
  }
  
  .default-html blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
    font-style: italic;
  }
  
  .default-html img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }
  
  .default-html table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }
  
  .default-html table th,
  .default-html table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  }
  
  .default-html table th {
    background-color: #f2f2f2;
  }
  
  .default-html code {
    background-color: #f8f9fa;
    color: #d63384;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: Consolas, "Courier New", monospace;
  }
  
  .default-html pre {
    background-color: #f8f9fa;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 4px;
    font-family: Consolas, "Courier New", monospace;
  }
  
  .default-html hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
  }
  